version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"

  frontend:
    image: nginx
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "8000:80"
    depends_on:
      - backend